<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Cataloger</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Goynaa Datasource</description>
    <res-ref-name>jdbc/goynaa_db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>goynaa.auth.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Find</servlet-name>
    <servlet-class>goynaa.admin.Find</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Find</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>goynaa.admin.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductCountServlet</servlet-name>
    <servlet-class>goynaa.admin.ProductCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCountServlet</servlet-name>
    <url-pattern>/ProductCountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUserAccount</servlet-name>
    <servlet-class>goynaa.admin.CreateUserAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductImageUpload</servlet-name>
    <servlet-class>goynaa.admin.ProductImageUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductImageUpload</servlet-name>
    <url-pattern>/ImageUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DBQuery</servlet-name>
    <servlet-class>goynaa.admin.DBQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBQuery</servlet-name>
    <url-pattern>/dbquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>goynaa.admin.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>goynaa.product.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>goynaa.admin.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CampaignImageServlet</servlet-name>
    <servlet-class>goynaa.admin.CampaignImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CampaignImageServlet</servlet-name>
    <url-pattern>/campaignimageupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>goynaa.auth.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>PasswordRecoverServlet</servlet-name>
    <servlet-class>goynaa.auth.PasswordRecoverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordRecoverServlet</servlet-name>
    <url-pattern>/forgotpassword</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>UpdateEmailServlet</servlet-name>
    <servlet-class>goynaa.auth.UpdateEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmailServlet</servlet-name>
    <url-pattern>/updateemail</url-pattern>
  </servlet-mapping>
</web-app>